body{
    margin: 0;
    background: #39ad8f;
}

.father{
    box-sizing: border-box;
    margin: 40px;
    display: flex;
    column-gap: 50px;

}
.img{
    margin: 50px 30px 10px 30px;
    display: flex;
    align-items: center;
}

.children{
    background: #93d48f;
    color: #d8ffe3;
    width: 100;
    height: 400;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text{
    font-size: 25px;
    text-align: center;
    margin: 10px 30px 20px 30px;
}

.imgtext{
    color: #234f41;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial
}
.bottom{
    font-size: 40px;
    color: #93d48f;
    text-align: center;
}

.boti{
    font-size: 30px;
    color: #93d48f;
    text-align: center;
}

.bolt {
    color: #234f41;

}